html {
    margin: auto;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(255,192,57,0.5242471988795518) 100%);
    height: 100%;
    margin: 0;
}

#main-container{
    height: 80%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
#human-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

#results{
    width: 30%;
}

#computer-selection{
    width: 35%;
}

li{
    list-style-type: none;
    padding: none;
    text-align: center;
}

button{
    font-size: large;
    margin: 0;
    width: 30%;
    padding: 25px;
    height: auto;
    border: 1px solid rgb(0, 0, 0) ;
    border-radius: 50px;
    margin: 10px 0;
    transition: 0.3s;
    
}
    button:hover {
        background: rgb(34,193,195);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    button:active {
        background-color: rgb(10, 144, 146);
        box-shadow: 0 5px #666;
        transform: translateY(2px);
    }

img{
    height: auto;
    width: 80%;
    color: purple;
}
